In [12]:
# Função para consumo da API do Bacen

import numpy as np
import pandas as pd

def leitor_dados(arquivo: str) -> pd.DataFrame:
    return pd.read_csv(arquivo)

In [13]:
url = ("https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv")

In [14]:
dados = leitor_dados(url)

In [15]:
dados.head(4)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
1,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,251900.00,30456.87,0.00,0.0,0.0,0.0
2,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0

In [16]:
dados.dtypes

ANO                              int64
MES                              int64
COD_MUNICIPIO                    int64
NOME_MUNICIPIO                  object
CD_ORGAO                         int64
NOME_ORGAO                      object
CD_RECEBIMENTO                   int64
CD_ORGAO_ORCAMENTARIO            int64
NOME_ORGAO_ORCAMENTARIO         object
CD_UNIDADE_ORCAMENTARIA          int64
NOME_UNIDADE                    object
TP_UNIDADE                      object
CD_FUNCAO                        int64
DS_FUNCAO                       object
CD_SUBFUNCAO                     int64
DS_SUBFUNCAO                    object
CD_PROGRAMA                      int64
DS_PROGRAMA                     object
CD_PROJETO                       int64
NM_PROJETO                      object
CD_ELEMENTO                     object
CD_RECURSO                     float64
NM_RECURSO                     float64
CD_FONTE_RECURSO                 int64
VL_DOTACAO_INICIAL             float64
VL_ATUALIZACAO_MONETARIA       float64
VL_CREDITOS_SUPLEMENTARES      float64
VL_CREDITOS_ESPECIAIS          float64
VL_CREDITOS_EXTRAORDINARIOS    float64
VL_REDUCAO_DOTACAO             float64
VL_SUPLEMENTACAO_RECURSO       float64
VL_REDUCAO_RECURSO             float64
VL_TRANSFERENCIA               float64
VL_TRANSPOSICAO                float64
VL_REMANEJAMENTO               float64
VL_EMPENHADO                   float64
VL_LIQUIDADO                   float64
VL_PAGO                        float64
VL_LIMITADO                    float64
VL_RECOMPOSICAO                float64
VL_PREVISAO_EXECUCAO           float64
dtype: object

In [20]:
dados.info

<bound method DataFrame.info of          ANO  MES  COD_MUNICIPIO NOME_MUNICIPIO  CD_ORGAO  \
0       2023    1            149   PORTO ALEGRE     88399
1       2023    1            149   PORTO ALEGRE     88399
2       2023    1            149   PORTO ALEGRE     88399
3       2023    1            149   PORTO ALEGRE     88399
4       2023    1            149   PORTO ALEGRE     88399
...      ...  ...            ...            ...       ...
427623  2023   10            222    TUPANCIRETÃ     88437
427624  2023   10            222    TUPANCIRETÃ     88437
427625  2023   10            222    TUPANCIRETÃ     88437
427626  2023   10            222    TUPANCIRETÃ     88437
427627  2023   10            222    TUPANCIRETÃ     88437

                                               NOME_ORGAO  CD_RECEBIMENTO  \
0       AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...          306703
1       AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...          306703
2       AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...          306703
3       AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...          306703
4       AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...          306703
...                                                   ...             ...
427623  TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...          314350
427624  TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...          314350
427625  TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...          314350
427626  TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...          314350
427627  TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...          314350

        CD_ORGAO_ORCAMENTARIO       NOME_ORGAO_ORCAMENTARIO  \
0                           1                     AGESAN-RS
1                           1                     AGESAN-RS
2                           1                     AGESAN-RS
3                           1                     AGESAN-RS
4                           1                     AGESAN-RS
...                       ...                           ...
427623                     13                       FUNPREV
427624                     13                       FUNPREV
427625                     13                       FUNPREV
427626                     13                       FUNPREV
427627                     29  RESERVA CONTINGENCIA FUNPREV

        CD_UNIDADE_ORCAMENTARIA  ... VL_REDUCAO_RECURSO VL_TRANSFERENCIA  \
0                             1  ...                0.0              0.0
1                             1  ...                0.0              0.0
2                             1  ...                0.0              0.0
3                             1  ...                0.0              0.0
4                             1  ...                0.0              0.0
...                         ...  ...                ...              ...
427623                        1  ...                0.0              0.0
427624                        1  ...                0.0              0.0
427625                        1  ...                0.0              0.0
427626                        1  ...                0.0              0.0
427627                       99  ...                0.0              0.0

        VL_TRANSPOSICAO VL_REMANEJAMENTO  VL_EMPENHADO VL_LIQUIDADO  \
0                   0.0              0.0    1291047.08     99401.81
1                   0.0              0.0     251900.00     30456.87
2                   0.0              0.0          0.00         0.00
3                   0.0              0.0       6206.47      6206.47
4                   0.0              0.0       1239.00      1239.00
...                 ...              ...           ...          ...
427623              0.0              0.0          0.00         0.00
427624              0.0              0.0      46415.94     46415.94
427625              0.0              0.0     313795.47    282239.29
427626              0.0              0.0          0.00         0.00
427627              0.0              0.0          0.00         0.00

          VL_PAGO VL_LIMITADO  VL_RECOMPOSICAO VL_PREVISAO_EXECUCAO
0        99401.81         0.0              0.0                  0.0
1            0.00         0.0              0.0                  0.0
2            0.00         0.0              0.0                  0.0
3         6206.47         0.0              0.0                  0.0
4         1239.00         0.0              0.0                  0.0
...           ...         ...              ...                  ...
427623       0.00         0.0              0.0                  0.0
427624   46415.94         0.0              0.0                  0.0
427625  282239.29         0.0              0.0                  0.0
427626       0.00         0.0              0.0                  0.0
427627       0.00         0.0              0.0                  0.0

[427628 rows x 41 columns]>

In [23]:
dados["ANO"].shape

(427628,)

In [24]:
dados[["ANO","MES"]]

         ANO  MES
0       2023    1
1       2023    1
2       2023    1
3       2023    1
4       2023    1
...      ...  ...
427623  2023   10
427624  2023   10
427625  2023   10
427626  2023   10
427627  2023   10

[427628 rows x 2 columns]